/* Nav-bar */
.dvs_header {
    width: 100%;
    padding: 1px 0;
    margin: 0;
}
.dvs_header a {
    display: block;
    padding: 8px;
}
.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_wrapper li {
    list-style-type: none;
    color: #000;
}
.nav_wrapper li h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_wrapper li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #000;
}
.nav_links {
    display: flex;
    justify-content: center;
    padding-right: 24px;
}
.dvs_header_trigger {
    display: none;
    color: green;
}