/* Media query or responsiveness of max-width of 395px */
@media screen and (max-width: 380px) {
    /* Body Res */
    body p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    /* Navigation res */
    .dvs_header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999999;
        color: #eee;
        background-color: rgb(79, 127, 93);
    }
    .dvs_header_menuItems {
        display: none;
        border-top: none;
        color: #eee;
    }
    .dvs_header_menuItems.is-open {
        display: block;
    }
    .dvs_header a {
        display: block;
        width: 100%;
    }
    .nav_wrapper li a {
        color: #c8c0c0;
        font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    }
    .nav_links a:hover {
        color: #ffa500;
        transition: 0.5ms ease-in-out;
    }
    .nav_wrapper li h4 {
        color: #ffa500;
        font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    }
    .dvs_header_trigger {
        display: block;
        padding-right: 14px;
    }
    .dvs_header .fa-bars {
        color: #eee;
    }
    .nav_wrapper {
        flex-wrap: wrap;
    }
    .nav_links {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }

    /* Welcome Res */
    .welcome {
        width: 100%;
        margin-top: 125px;
    }
    .welcome h1 {
        border: 2px solid #ffa500;
        color: #ffa500;
        padding: 18px;
        font-weight: 900px;
        font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
        text-align: center;
    }
    .welcome p {
        text-align: center;
        padding: 8px;
    }
    .welcome span {
        display: inline-block;
        background-color: #ffa500;
        padding: 8px;
        border-radius: 20px 0px 20px 0px;
    }

    /* Frp Res */
    .apk-container {
        border-top: 1px solid #c8c0c0;
        width: 100%;
        padding: 8px;
        border-bottom: 1px solid #c8c0c0;
    }
    .apk-links {
        display: grid;
    }
    .apk-content h1 {
        color: #69a46d;
        text-align: center;
    } 
    .apk-content h1 {
        font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    }
    .apk-content p {
        padding: 8px;
        text-align: center;
    }
    .apk-links a {
        display: block;
        text-decoration: none;
        color: #ffffff;
        padding: 8px;
        margin: 6px;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
        background-color: #69a46d;
        border: none;
        border-radius: 80px 0 80px 0px;
    }
    .title h3 {
        padding-left: 12px;
        border-left: 4px solid #69a46d;
        color: #ffa500;
        font-family: 'Lucida Sans', 
        'Lucida Sans Regular', 
        'Lucida Grande', 
        'Lucida Sans Unicode', 
        Geneva, Verdana, sans-serif;
    }
    .apk-links a:hover {
        background-color: #315634;
        transition: 1s ease-in-out;
    }

    /* Footer Res */
    .footer-container {
        width: 100%;
    }
    
}