@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(234, 236, 238);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


/* Navigation style*/
.title {
    display: flex;
    flex-direction: row;
    padding: 10px 24px;
}
.title a {
    display: flex;
    text-decoration: none;
    color: rgb(27, 63, 161);
}
.title h3 {
    background-color: indigo;
    color: aqua;
    padding: 12px 12px;
    margin-right: 5px;
    margin-top: 14px;
    border: none;
    border-radius: 30px;
}

.nav-bar {
    color: #000000;
    display: flex;
    background-color: rgb(234, 236, 238);
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.nav-links {
    padding:  36px 20px 0 2px;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    padding: 12px 10px;
    font-size: 17px;
    border-right: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
}

.nav-links a.contact {
    margin-left: 20px;
    padding: 9px 20px;
    background-color: #ffa500;
    border: none;
    border-radius: 25px;
}

.nav-links .contact:hover {
    background-color: rgb(27, 63, 161);
    color: white;
}

.nav-links .contact:hover .fa-contact {
    color: #ffff;
}

.nav-links a span {
    padding-left: 10px;
}

.fa-home, .fa-about {
    position: absolute;
    color: rgb(158, 10, 226);
    top: 13px;
    left: 0;
    padding-right: 18px;
}
.fa-about:hover {
    color: rgb(0, 110, 255);
}
.fa-service:hover {
    color: rgb(0, 110, 255);
}
.fa-home:hover {
    color: rgb(0, 110, 255);
}
.fa-service {
    position: absolute;
    color: rgb(158, 10, 226);
    top: 13px;
    left: 0;
}
.fa-service:hover {
    color: rgb(0, 110, 255);
}
.fa-contact {
    position: absolute;
    color: black;
    top: 10px;
    left: 8px;
}
.fa-contact:hover {
    color: #ffff;
}

/* Media query or responsiveness of max-width of 725px */
@media screen and (max-width: 725px) {
    /* Navigation res*/
    .title {
        display: flex;
        flex-direction: row;
        padding: 2px 2px 0 12px;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 25px 0;
    }
    .nav-links {
        padding: 1px 12px 0 20px;
    }
    
    .nav-links a {
        padding: 12px 7px;
        font-size: 17px;
    }

    .nav-links a span {
        margin-left: 4px;
    }
    .contact-us {
        flex-direction: column;
        justify-content: center;
    }
    .column-1, .column-2 {
        position: relative;
    }
    .website, .ux, .mockup, .teacher {
        padding: 5px 10px;
        margin: 25px;
    }
    .icon-web {
        padding: 18px 18px;
        top: -4px;
        left: 0;
    }
    .icon-ux {
        padding: 18px 18px;
        top: 1px;
        left: 0;
    }
    .icon-mockup {
        padding: 18px 18px;
        top: 1px;
        left: 0;    
    }
    .icon-teacher {
        padding: 18px 18px;
        top: 118px;
        left: 0; 
    }

    /* Footer res */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .follow-me {
        margin-left: 25px;
    }
    .copyright {
        margin-left: 20px;
    }
}

/* Media query or responsiveness of max-width of 600px */
@media screen and (max-width: 450px) {
    /* Navigation res*/
    .title {
        flex-direction: row;
        padding: 2px 2px 0 18px;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 25px 0;
    }
    .nav-links {
        padding: 1px 12px 0 20px;
    }
    
    .nav-links a {
        padding: 12px 5px;
        font-size: 17px;
    }
    .nav-links a span {
        margin-left: 2px;
    }
    .nav-links a.contact {
        margin-left: 0px;
    }
    .contact-us {
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    /* Service res*/
    .service {
        padding: 34px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .service-text {
        padding: 24px 24px;
    }
    
    .service-text h1 {
        border-left: 5px solid white;
        padding-left: 15px;
    }
    
    .service-text p {
        font-size: 18px;
    }
    
    .service-content {
        padding: 2px 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column-1, .column-2 {
        position: relative;
    }
    .website, .ux, .mockup, .teacher {
        padding: 5px 10px;
        margin: 25px;
    }
    .icon-web {
        padding: 18px 18px;
        top: -4px;
        left: 0;
    }
    .icon-ux {
        padding: 18px 18px;
        top: 1px;
        left: 0;
    }
    .icon-mockup {
        padding: 18px 18px;
        top: 1px;
        left: 0;    
    }
    .icon-teacher {
        padding: 18px 18px;
        top: 118px;
        left: 0; 
    }

    /* Home Contents res*/
    .home-content {
        padding: 12px 15px;
    }

    .about-me-content {
        padding: 15px 0;
        font-size: 13px;
    }

    p.greet {
        font-size: 8px;
    }

    p.greet span {
        padding: 1px 3px;
        margin-left: 2px;
        border-radius: 5px;
    }

    p.greet span.g {
        margin-left: 10px;
    }

    .about-me-content .about {
        font-size: 131em;
    }

    /* Statistics res*/
    .statistics {
        padding: 12px 15px;
    }

    .projects, .clients, .awards {
        margin-bottom: 17px;
        padding: 1px 15px;
        border-radius: 1px;
        text-align: left;
        font-size: 11px;
    }

    .projects h1, .projects p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .clients h1, .clients p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .awards h1, .awards p {
        margin: 2px 0;
        padding: 2px 0;
    }

    /* Footer res */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .follow-me {
        margin-left: 25px;
    }
    .copyright {
        margin-left: 20px;
    }

}

/* Media query or responsiveness of max-width of 395px */
@media screen and (max-width: 395px) {
    /* Navigation res */
    .title {
        flex-direction: row;
        padding: 2px 2px 0 18px;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 25px 0;
    }
    .nav-links {
        width: 100%;
        padding: 1px 12px 0 20px;
    }
    
    .nav-links a {
        padding: 12px 5px;
        font-size: 14px;
    }
    .nav-links .contact {
        margin-left: 2px;
    }
    .nav-links a span {
        margin-left: 4px;
    }
    .nav-links a.contact {
        margin-left: 20px;
        padding: 9px 10px;
        background-color: orange;
        border: none;
        border-radius: 150px;
    }
    .contact-us {
        flex-direction: column;
        justify-content: center;
    }

    /* Service res */
    .service {
        width: 100%;
        padding: 34px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .service-text {
        padding: 15px 24px;
    }
    
    .service-text h1 {
        padding-left: 15px;
    }
    
    .service-text p {
        font-size: 1px;
    }
    
    .service-content {
        padding: 2px 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .column-1, .column-2 {
        position: relative;
    }
    .website, .ux, .mockup, .teacher {
        padding: 5px 10px;
        margin: 25px;
    }
    .icon-web {
        padding: 18px 18px;
        top: -4px;
        left: 0;
    }
    .icon-ux {
        padding: 18px 18px;
        top: 1px;
        left: 0;
    }
    .icon-mockup {
        padding: 18px 18px;
        top: 1px;
        left: 0;    
    }
    .icon-teacher {
        padding: 18px 18px;
        top: 118px;
        left: 0; 
    }

    /* Home Contents res*/
    .home-content {
        width: 100%;
        padding: 12px 15px;
    }

    .about-me-content {
        padding: 15px 0;
        font-size: 13px;
    }

    p.greet {
        font-size: 8px;
    }

    p.greet span {
        padding: 1px 3px;
        margin-left: 2px;
        border-radius: 5px;
    }

    p.greet span.g {
        margin-left: 10px;
    }

    .about-me-content .about {
        font-size: 131em;
    }

    /* Statistics res*/
    .statistics {
        padding: 12px 15px;
    }

    .projects, .clients, .awards {
        margin-bottom: 17px;
        padding: 1px 15px;
        border-radius: 1px;
        text-align: left;
        font-size: 11px;
    }

    .projects h1, .projects p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .clients h1, .clients p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .awards h1, .awards p {
        margin: 2px 0;
        padding: 2px 0;
    }

    /* Footer res */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .follow-me {
        margin-left: 25px;
    }
    .copyright {
        margin-left: 20px;
    }
}

/* Media Query of max-width: 325px */
@media screen and (max-width: 325px) {
    /* Navigation */
    .title {
        flex-direction: row;
        padding: 2px 2px 0 18px;
    }
    .nav-bar {
        flex-direction: column;
        justify-content: center;
        margin: 0;
        padding: 0 0 25px 0;
    }
    .nav-links {
        width: 100%;
        padding: 1px 12px 0 20px;
    }
    
    .nav-links a {
        padding: 12px 5px;
        font-size: 12px;
    }
    /* .nav-links a.contact {

    } */
    .nav-links a span {
        margin-left: 2px;
    }
    .contact-us {
        flex-direction: column;
        justify-content: center;
    }

    /* Service res */
    .service {
        max-width: 600px;
        background-color: black;
        width: 0%;
        padding: 4px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .service-text {
        background-color: black;
        padding: 15px 24px;
    }
    
    .service-text h1 {
        padding-left: 15px;
    }
    
    .service-text p {
        font-size: 1px;
    }
    
    .service-content {
        padding: 2px 2px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .column-1, .column-2 {
        position: relative;
    }
    .website, .ux, .mockup, .teacher {
        padding: 5px 10px;
        margin: 25px;
    }
    .icon-web {
        padding: 18px 18px;
        top: -4px;
        left: 0;
    }
    .icon-ux {
        padding: 18px 18px;
        top: 1px;
        left: 0;
    }
    .icon-mockup {
        padding: 18px 18px;
        top: 1px;
        left: 0;    
    }
    .icon-teacher {
        padding: 18px 18px;
        top: 118px;
        left: 0; 
    }

    /* Footer res  */
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .follow-me {
        margin-left: 25px;
    }
    .copyright {
        margin-left: 20px;
    }

    /* Home Contents res */
    .home-content {
        width: 100%;
        padding: 12px 15px;
    }

    .about-me-content {
        padding: 15px 0;
        font-size: 13px;
    }

    p.greet {
        font-size: 8px;
    }

    p.greet span {
        padding: 1px 3px;
        margin-left: 2px;
        border-radius: 5px;
    }

    p.greet span.g {
        margin-left: 10px;
    }

    .about-me-content .about {
        font-size: 131em;
    }

    /* Statistics res */
    .statistics {
        padding: 12px 15px;
        margin-left: 25px;
    }

    .projects, .clients, .awards {
        margin-bottom: 17px;
        padding: 1px 15px;
        border-radius: 1px;
        text-align: left;
        font-size: 11px;
    }

    .projects h1, .projects p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .clients h1, .clients p {
        margin: 2px 0;
        padding: 2px 0;
    }

    .awards h1, .awards p {
        margin: 2px 0;
        padding: 2px 0;
    }
}


/* Home Contents style*/
.home-content {
    display: flex;
    flex-direction: row;
    background-image: url('./portifolio.jpg');
    opacity: 100%;
    justify-content: space-between;
    background-attachment: local;
    background-size: contain;
    background-repeat: inherit;
    padding: 24px 24px;
}

.about-me-content {
    padding: 24px 0;
}

p.greet {
    margin-bottom: 15px;
    font-weight: 900px;
}

p.greet span {
    background-color: orange;
    border: none;
    padding: 8px 6px;
    margin-left: 2px;
    border-radius: 5px;
}

p.greet span.g {
    margin-left: 10px;
}

.about-me-content .about {
    font-size: 18px;
}

.about-me-content button {
    position: relative;
    border: none;
    outline: none;
    background-color: #ffa500;
    border-radius: 25px;
    padding: 12px 45px 12px 24px;
    z-index: 999999;
    cursor: pointer;
}
.about-me-content button:hover {
    background-color: rgb(27, 63, 161);
    color: white;
}

.about-me-content button .fa-handshake {
    position: absolute;
    font-size: 25px;
    top: 7px;
    right: 12px;
}

/* Statistics style*/
.statistics {
    padding: 24px 24px;
}

.projects, .clients, .awards {
    margin-bottom: 17px;
    padding: 6px 12px;
    color: white;
    box-shadow: 0 4px 8px black;
    background-color: rgb(0, 110, 255);
    border: none;
    border-radius: 10px;
    text-align: right;
}

.projects h1, .projects p {
    margin: 2px 0;
    padding: 2px 0;
}

.clients h1, .clients p {
    margin: 2px 0;
    padding: 2px 0;
}

.awards h1, .awards p {
    margin: 2px 0;
    padding: 2px 0;
}

/* Services Offered style*/
.service {
    padding: 34px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 110, 255);
    color: white;
}

.service-text {
    padding: 24px 24px;
}

.service-text h1 {
    border-left: 5px solid white;
    padding-left: 15px;
}

.service-text p {
    font-size: 18px;
}

.service-content {
    padding: 2px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column-1, .column-2 {
    position: relative;
}

.icon-web {
    position: absolute;
    background-color: white;
    padding: 18px 18px;
    border: none;
    border-radius: 50px;
    top: -4px;
    left: 0;
}

.icon-ux {
    position: absolute;
    background-color: white;
    padding: 18px 18px;
    border: none;
    border-radius: 50px;
    top: 118px;
    left: 0;
}
.icon-mockup {
    position: absolute;
    background-color: white;
    color: black;
    padding: 18px 18px;
    border: none;
    border-radius: 50px;
    top: 1px;
    left: 0;    
}

.icon-teacher {
    position: absolute;
    background-color: white;
    padding: 18px 18px;
    border: none;
    border-radius: 50px;
    top: 118px;
    left: 0; 
}

.website, .ux, .mockup, .teacher {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 25px;
    box-shadow: 0 4px 8px black;
    border: none;
    border-radius: 15px;
}

/* Footer style*/
.footer {
    background-color: rgb(234, 236, 238);
    padding: 24px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .copyright, .footer-content {
    padding: 10px 20px;
}

.copyright {
    position: relative;
} 
.copyright h1 {
    margin-left: 25px;
}
.copyright .fa-copyright {
    font-size: 35px;
    position: absolute;
    top: 38.5px;
    left: 0;
}



/* Contact us style*/
.contact-us {
    display: flex;
    justify-content: left;
    padding: 24px 24px;
}

.contact-text, .contact-content {
    padding: 2px 12px;
}

.contact-content {
    border-left: 5px solid orange;
    padding-left: 25px;
    margin-left: 25px;
}

.contact-text h1 {
    border-left: 5px solid orange;
    padding-left: 15px;
}

.contact-text p, .contact-content p {
    font-size: 18px;
}

/* About us style*/
.about-us {
    padding: 24px 24px;
    text-align: left;
}

.about-us h1 {
    border-left: 5px solid orange;
    padding-left: 15px;
}

.about-content {
    padding: 8px 12px;
}

.about-content p {
    font-size: 18px;
}

/* Not found style*/
.not-found {
    max-width: 400px;
    padding: 12px 12px;
}
  
.not-found h1 {
    color: red;
    font-size: 80px;
    margin-bottom: 20px;
}
  
.not-found p {
    font-size: 30px;
}

.not-found a {
    text-decoration: none;
}

/* My Latest work style*/
.latest-work {
    width: 100%;
    margin:  5px 5px 5px 30px;
}

.latest-work .image {
    background-image: url('./latestwork.jpg');
    opacity: 100%;
    background-attachment: local;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 124px 124px;
    width: 15%;
    border: none;
    box-shadow: 0 4px 8px black;
    border-radius: 15px;
}
